<!DOCTYPE html>
<html>
<head>
  <title>Qube frontend</title>
  <%= stylesheet_link_tag    "qube/frontend/application", media: "all" %>
  <%= javascript_include_tag "qube/frontend/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
